//- - const MODE = process.env.NODE_ENV === 'production' ? 'production' : 'development';
//- - const __DEV__ = MODE === 'development';
//- - const __PROD__ = MODE === 'production';

//- - const siteUrl = 'http://localhost:3333/';

-
  let pageTitle = 'Index',
    bodyAttributes = {};

-
  let openGraphData = [
    { property: 'og:url', content: '/index.html' },
    { property: 'og:type', content: 'website' },
    { property: 'og:title', content: 'Awesome title for facebook' },
    { property: 'og:image', content: '/images/cat.jpg' },
    { property: 'og:image:alt', content: '/index.html' },
    { property: 'og:description', content: 'Sample description' },
    { property: 'og:site_name', content: 'Sample site name' },
    { property: 'og:locale', content: 'ru_RU' },
    { property: 'article:author', content: 'sample author' }
  ];
mixin openGraphMeta(data)
  each item in data
    meta(property=item.property content=item.content)

-
  let twitterCardData = [
    { name: 'twitter:card', content: 'product' },
    { name: 'twitter:site', content: '@publisher_handle' },
    { name: 'twitter:title', content: 'Page Title' },
    { name: 'twitter:description', content: 'Page description less than 200 characters' },
    { name: 'twitter:creator', content: '@author_handle' },
    { name: 'twitter:image', content: 'http://www.example.com/image.jpg' },
  ];
mixin twitterCardMeta(data)
  each item in data
    meta(name=item.name content=item.content)
